@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
h1{
    font-family: "Noto Sans Thai", sans-serif;
    text-align: center;
    font-size: 2vw;
}
li{
    font-family: "Noto Sans Thai", sans-serif;
    font-size:1vw;
    margin-bottom: 10px;
}