.Header{
    display: block;
    text-align: center;
}
.content{
    height: 20vw;
    width: 100vw;
    background-color: blue;
}
.promotion{
    height: 100%;
    width: 100%;
    background-color: red;
}