.Header{
    display: block;
    text-align: center;
}
.content{
    height: 20vw;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: #EADDCA;
  }
  /* ตั้งค่าสไตล์ของ navigation bar */
  nav {
      background-color: #DAA06D; /* สีพื้นหลัง */
      overflow: hidden;
    }

    nav ul {
      list-style-type: none; /* เอา bullet ออก */
      margin: 0;
      padding: 0;
      text-align: center; /* จัดให้อยู่ตรงกลาง */
    }

    nav ul li {
      display: inline; /* แสดงเป็น inline */
      margin-right: 10px; /* ระยะห่างระหว่างปุ่ม */
    }

    nav ul li a {
      display: inline-block; /* แสดงเป็น block กล่อง จึงสามารถตั้งค่า width ได้ */
      padding: 10px 20px; /* ขนาดของปุ่ม */
      text-decoration: none; /* ไม่มี underline */
      color: white; /* สีตัวอักษร */
    }

    nav ul li a:hover {
      background-color:#B87333; /* เปลี่ยนสีพื้นหลังเมื่อ hover */
    }
    ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
        }



